// COLORS
$primary-color: darkorchid;
$secondary-color: #4f0c4a;

$white-color: #fff;

$dark-grey: #370440;
$light-grey: #d2d2d2;

$dark-blue-text: rgb(76, 25, 102); // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
